.btn {
  padding: 10px 5px;
}

.icon-btn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
