li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: #fff;
    color: #5e718d;

    a {
      text-decoration: none;

      &:visted,
      &:hover {
        color: inherit;
      }
    }

    ul,
    ol {
      list-style-type: none;
    }
  }
}
