li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #fff;
    color: #5e718d;
  }
  body a {
    text-decoration: none;
  }
  body a:visted, body a:hover {
    text-decoration: none;
    color: inherit;
  }
  body ul,
  body ol {
    list-style-type: none;
  }
}
.btn {
  padding: 10px 5px;
}

.icon-btn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
.icon-btn:hover {
  transform: scale(1.1);
}
.icon-btn:not(:last-child) {
  margin-bottom: 10px;
}

.controls {
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .form-control .form-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #8897ae;
}
.form .form-control .form-input {
  border: 1px solid #afbaca;
  background: #ffffff;
  border-radius: 6px;
  width: 200px;
}

.h-book {
  position: relative;
  height: 180px;
  width: 450px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Inter;
  color: #5e718d;
  border-bottom: 1px solid #f0f3f9;
}
.h-book .book-title {
  color: #455468;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.3000000119px;
}
.h-book .book-data-point {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.200000003px;
}
.h-book .image-container {
  overflow: hidden;
  height: 152px;
  width: 102px;
  float: left;
  margin-right: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(45, 54, 67, 0.04), 0px 2px 4px 0px rgba(45, 54, 67, 0.08);
}
.h-book .image-container .thumb {
  object-fit: cover;
}
.h-book .book-actions {
  position: absolute;
  top: 20px;
  right: 25px;
}

.library {
  padding-left: 5%;
  padding-right: 5%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .modal-background {
  position: fixed;
  left: 0;
  top: 0;
  height: inherit;
  width: inherit;
}
.modal .modal-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  height: 33%;
  width: 33%;
  padding: 25px;
  background: #071521;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.3);
  overflow: scroll;
}
.modal .modal-button--close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  background-color: #f9fafb;
}
.header-container .header-inner {
  width: 85%;
  display: inline-block;
}
.header-container .header-inner .brand {
  color: #2d3643;
}
.header-container .header-inner ul li {
  display: inline-block;
}
.header-container .header-inner ul li a {
  color: #455468;
}
.header-container .header-inner ul li :not(:last-child) {
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=main.css.map */
